header {
    background-color: #030303;
    width: 100%;
    height: 60px;
    padding-top: 5px;
    color: rgb(243, 246, 248);
    top: 0%;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    position: fixed;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 2;
    margin-top: 0px;
}

.nav-bar {
    background-color: #1F1E1E;
    opacity: 0%;
    position: fixed;
    top: 60px;
    left: 1px;
    z-index: 2;
    display: none;
    transition: opacity 2s ease, transform 0.5s ease;
}

.header-menu {
    align-self: center;
}

.header-buscar {
    padding: 0px;
    width: 250px;
    display: flex;
    align-items: center;
}

.header-izq {
    padding: 0px;
    width: 150px;
    display: flex;
    gap: 10%;
}

svg.header-lupa {
    border-radius: 10px 0px 0px 10px;
    margin-left: 5%;
    padding: 0px 3px;
    width: 30px;
    border-right: 0.5px solid #2b2a2a11;
    background-color: #0d4c80bb;
}

input.buscar {
    font-family: "Roboto", sans-serif;
    width: 150px;
    background-color: #0d4c80bb;
    color: #ffff;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 30px;
}

.header-izq img {
    width: auto;
    height: 40px;
    object-fit: fill;
    text-decoration: none;
}

.header-der {
    width: 150px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
}

/* Estilos responsive */
@media (max-width: 768px) {
    body {
        background-size: auto;
    }

    /* header {
        width: 57%;
    } */

    .nav-bar {
        height: 100%;
    }

    .contenido {
        width: 100%;
    }

    .header-izq,
    .header-buscar,
    .header-der {
        width: auto;
    }

    .header-buscar {
        display: none;
        /* Ocultamos la barra de búsqueda en pantallas más pequeñas */
    }

    header {
        height: 50px;
    }

    .header-izq img {
        height: 30px;
    }

    input.buscar {
        width: 100px;
    }

    .visible {
        animation: nav-bar1 1s 1 linear both;
    }

    @keyframes nav-bar1 {
        0% {
            width: 160px;
            height: 1180px;
        }

        100% {
            width: 160px;
            height: 1180px;
            opacity: 90%;
        }
    }

    .div-categoria {
        max-width: 71%;
    }

    .carrousel-grande {
        width: 370px;
    }
}


.visible {
    display: flex;
    flex-direction: column;
    animation: nav-bar 1s 1 linear both;
}

@keyframes nav-bar {
    0% {
        width: 193px;
        height: 1080px;
    }

    100% {
        width: 193px;
        height: 1080px;
        opacity: 90%;
    }
}

.user-menu {
    background-color: #1F1E1E;
    opacity: 0%;
    position: fixed;
    top: 60px;
    right: 1px;
    z-index: 2;
    display: none;
    transition: opacity 2s ease, transform 0.5s ease;
}

.visible-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: nav-user 1s 1 linear both;
}

@keyframes nav-user {
    0% {
        width: 250px;
        height: 280px;
    }

    100% {
        width: 250px;
        height: 280px;
        opacity: 95%;
    }
}

.categoria-menu {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.categoria {
    width: 100%;
    height: 46px;
    border-bottom: #656565;
    color: white;
}

.log-out {
    padding-left: 15px;
}

header .header {
    box-sizing: border-box;
}

input.buscar {
    font-family: "Roboto", sans-serif;
    width: 180px;
    background-color: #0d4c80bb;
    color: #ffff;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 30px;

}

.header-cart {
    /* left: 40px; */
    position: relative;
}

.header-user {
    /* left: 40px; */
    position: relative;
}

.header-user img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


div.header-der div {

    width: 38px;
    height: 38px;
}

.categoria {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.icon-categoria {
    margin-left: 10px;
}

.text-categoria h2 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

a.log-out {
    display: flex;
    text-decoration: none;
    color: #FBFAFA;
    gap: 20px;
    justify-content: flex-end;
    padding-left: 0px;
}

.categoria a {
    display: flex;
    text-decoration: none;
    color: #FBFAFA;
    gap: 20px;
    justify-content: flex-end;
    padding-left: 0px;
}