canvas {
    background-color: black;

}

.button {
    z-index: -1;
}

.buttonsGame {
    opacity: 0;
    z-index: -1;
}

.fichasEleccion {
    opacity: 0;
    z-index: -1;
}

.active {
    z-index: 2;
    opacity: 1;
}

.active {
    z-index: 2;
}

.opcion img {
    width: 100px;
    height: 100px;
}