body {
    background-image: url(../assets/fondo-registro.png);
    box-sizing: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.fondo-login {
    width: 500px;
    height: 550px;
    background-color: #010822;
    color: #f3eff0;
    text-align: center;
    border: none;
    border-radius: 12px;
}

#btn-ingresar {
    width: 114px;
    height: 30px;
    background-color: #2887D1;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    border-radius: 12px;
}

#btn-ingresar:hover {
    background-color: #0d2d41;
    /* Color de fondo al pasar el mouse */
}

.input-login {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 417px;
    height: 40px;

}

.campo-completar {
    width: 300px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 16px;
}

#h1-iniciar {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
    padding-top: 40px;
    padding-bottom: 20px;
}

#h2-iniciar {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.fondo-login p {
    font-family: "Roboto", sans-serif;

    font-style: normal;
    font-size: 13px;
}

.btn-redes {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-btn img {
    width: 40px;
    /* Tamaño del icono */
    height: 40px;
    margin: 10px;
}

.social-btn:hover {
    transform: scale(1.1);
    /* Aumentar el tamaño al pasar el mouse */
}