body {
    background-image: url(../assets/fondo-registro.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;    
}

/*Fuentes tamaño*/

h1 {
    font-size: 24px;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 0.02em;
}

p {
    font-size: 14px;
}

.cuadro-login{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    background-color: #010822;
    color: #f3eff0;
    text-align: center;
    border: none;
    border-radius: 12px;
}

#btn-ingresar, #btn-confirmar {
    width: 114px;
    height: 30px;
    background-color: #2887D1;
    color: #ffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-style: normal;
    border: none;
    border-radius: 12px;
}

#btn-ingresar:hover {
    background-color: #0d2d41;
    /* Color de fondo al pasar el mouse */
}

.input-login {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 417px;
    height: 40px;
   
}

.campo-completar {
    width: 300px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 16px;
}


.btn-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.social-btn img {
    width: 40px; /* Tamaño del icono */
    height: 40px;
    margin: 10px;
  }

  .social-btn:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
  }

  a{
    margin-left: 5px;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid;
  }

  /*Registro Usuario*/

  .registro-recuadro {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 700px;
    background-color: #010822;
    color: #f3eff0;
    text-align: center;
    border: none;
    border-radius: 12px;    
  }

  .registro-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 50px;
    width: 208px;
  }

  .registro-input input {
    border: none;
    border-radius: 9px;
    height: 25px;
  }

  .registro-input label {
    margin-top: 3px;
    margin-bottom: 3px;
  }

 