* {
  box-sizing: border-box;
}

body {
    background-image: url(../assets/fondo-registro.png);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;    
}

/*Fuentes tamaño*/

h1 {
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 0.02em;
}

p {
    font-size: 14px;
}

span {
  color: #2887D1;
  font-size: 13px;
  font-weight: bold;
}

.login-recuadro,.register-conteiner, .password-recuadro,.password-conteiner{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 450px;
    background-color: #010822;
    color: #f3eff0;
    text-align: center;
    border: none;
    border-radius: 12px;
}

#btn-ingresar, #btn-confirmar, #btn-recuperar,#btn-instrucciones,#btn-password{
    width: 114px;
    height: 30px;
    background-color: #2887D1;
    transition: background-color, .3s ease-out;
    color: #ffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-style: normal;
    border: none;
    border-radius: 12px;
}

#btn-ingresar:hover {
    width: 120px;
    height: 33px;
    font-size: 16px;
    background-color: #338F3E;
    transition: background-color,font-size,width,height, .3s ease-in;
    /* Color de fondo al pasar el mouse */
}

.input-login {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 417px;
    height: 40px;
   
}

.campo-completar {
    width: 300px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 16px;
}


.btn-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.social-btn img {
    width: 40px; /* Tamaño del icono */
    height: 40px;
    margin: 10px;
  }

/*.social-btn:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
  

#login-registro,#recuperar-contraseña,#registro-sesion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

  }

  .link-pagina{
    margin-left: 5px;
    text-decoration: none;
    color: #2887D1;
  }
  
  .link-pagina :hover {
    text-decoration: underline;
  }

  /*Registro Usuario*/

  #body-register {
    background-attachment: fixed;
  }

.register-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 525px;
  height: 900px;
  
}

#logo-register {
  width: 150px;
  border-radius: 9px;
}

.h2-register {
    text-align: left;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
   ;
}

.register-group {
    align-content: center;
    width: 400px;
}

.register-conteiner label {
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}

.register-conteiner input[type="text"],
.register-conteiner input[type="email"],
.register-conteiner input[type="password"],
.register-conteiner input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0d4c80bb;
    color: white;
    font-size: 14px;
}

 .register-conteiner input::placeholder {
    color:white;
}


.requisitos-password{
    list-style-type: none;
    text-align: left;
    align-items: flex-start;
  }
  
  .captcha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    align-items: center;
    background-color:#f5f5f5;
    color:#102a3f;
    width: 215px;
    font-size: 14px;
    font-weight: bold;   
  }
  .captcha input,.captcha label {
    margin-top: 7px;
  }
  #img-captcha {
  width: 33px;
  height: 33px;
  margin-top: 5px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  }
  
  .error-message {
    display: none;
    margin-top: 15px;
    padding: 10px;
    color: white;
    background-color: #e74c3c;
    border-radius: 4px;
    text-align: center;
}

 

  #btn-confirmar {
    background-color: #338F3E;
  }
/*Pop over registro exitoso*/  

#popover-register {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
  background-color: #010B2A;
  color:white;
  text-align: center;
  border: none;
  border-radius: 12px;

}

::backdrop {
  backdrop-filter: blur(3px);
}

#popover-btn {
  display: inline-block; 
  padding: 10px 20px;   
  background-color: #4CAF50; 
  color: white;            
  text-align: center;      
  text-decoration: none;   
  border-radius: 19px;     
  border: none;            
  cursor: pointer;         
  font-size: 15px;
}


#medalla-popover {
  width: 110px;
  height: 110px;
  animation: latir 4s infinite ease-in-out;
  
  
}
@keyframes latir {
  0%, 100% {
    transform: scale(1);
    border-radius :50px;

}
50% {
    transform:scale(1.1);
    shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(65, 9, 129);
    border-radius :40px;
    
}}




/*Recuperar Cuenta*/

.password-conteiner,.form-password {
    margin-top: 150px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  .form-password {
    margin-top: 0;
  }


.form-password p {
  width: 350px;
}

.form-password input[type="email"] {
  width:250px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;

}


#btn-password {
  width: 150px;
  margin-bottom: 10px;
}



#login-link {
  padding: 5px;
  font-size: 14px;
  color: #1e90ff;
  text-decoration: none;
}


