header {
    background-color: #030303;
    width: 1890px;
    height: 40px;
    padding: 0px;
    margin-top: 5px;
    color: rgb(243, 246, 248);
    top: 0%;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    position: sticky;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 2;
}

header .header {
    box-sizing: border-box;
}

.header-menu {
    align-self: center;
}

.header-buscar {
    padding: 0px;
    width: 250px;
    display: flex;
    align-items: center;
}

.header-izq {
    padding: 0px;
    width: 250px;
    display: flex;
    gap: 10%;

}

svg.header-lupa {
    border-radius: 10px 0px 0px 10px;
    margin-left: 5%;
    padding: 0px 3px;
    width: 30px;
    border-right: 0.5px solid #2b2a2a11;
    background-color: #0d4c80bb;
}

input.buscar {
    font-family: "Roboto", sans-serif;
    width: 180px;

    background-color: #0d4c80bb;
    color: #ffff;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 30px;

}

/* .header-izq.buscar {
    padding: 0px;
    position: relative;
} */

.header-izq img {
    width: auto;
    height: 40px;
}

/* .header-logo img {
    animation: nav-scroll-titulo linear both;
    animation-timeline: scroll(root, block);
    animation-range: 0 200px;
} */


/* @keyframe nav-scroll-titulo {
    form {
        img: :content "/Entrega-02/iconos/logo.png"
    }
} */



.header-der {
    width: 250px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
}

.header-cart {
    /* left: 40px; */
    position: relative;
}

.header-user {
    /* left: 40px; */
    position: relative;
}

.header-user img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


div.header-der div {

    width: 38px;
    height: 38px;
}

.categoria {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.icon-categoria {
    margin-left: 10px;
}

.text-categoria h2 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}