.container {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    height: 103px;
    width: 1080px;
    background: linear-gradient(180deg, #00D1D5 0%, rgba(0, 209, 213, 0.12) 87.91%, rgba(1, 208, 213, 0) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    box-sizing: border-box;
    margin-top: -8px;
    z-index: 1;
}

nav {
    top: 95px;
    display: none;
    background-color: #1F1E1E;
    opacity: 0%;
    position: fixed;
}


@keyframes nav-visible {
    0% {

        display: block;
        width: 160px;
        height: 1180px;
    }

    100% {
        display: block;
        width: 160px;
        height: 1180px;
        opacity: 90%;
    }
}

.menu {
    width: 200px;
    height: 40px;
    z-index: 3;
}

.bar {
    width: 34px;
    height: 4px;
    border: white solid 4px;
    border-radius: 111px;
    background-color: #F39E46;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: 86px;
}

.btn-comprar {
    color: white;
    width: 200px;
    height: 50px;
    border: white 8px solid;
    border-radius: 111px;
    background-color: #83c252;
    font-family: "Lato", sans-serif;
    size: 20px;
    font-weight: 1000;
    /* box-shadow: 8px #02187E; */
}

section.sec-inicio {
    background-image: url(../assets/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    position: relative;
    z-index: -2;
}

.ini-izq {
    width: 33%;
    height: 720px;
}

.arbusto4izq {
    width: 239px;
    height: 140px;
    position: absolute;
    top: 563px;
    z-index: 0;
    left: 150px;
}

.arIzq {
    width: 42%;
    position: absolute;
    left: -115px;
    z-index: 0;
    top: 8px;
}

.piedraizq {
    width: 113px;
    height: 74px;
    position: absolute;
    top: 640px;
    left: 120px;
}

.arbusto1izq {
    width: 155px;
    height: 102px;
    position: absolute;
    top: 662px;
    left: 162px;
}

.arDer2 {
    position: absolute;
    top: 39px;
    right: -41px;
    z-index: 1;
}

.arDer3 {
    position: absolute;
    top: 252px;
    right: -84px;
    z-index: 0;
}


.piedraDer4 {
    position: absolute;
    width: 59px;
    height: 35px;
    right: 172px;
    top: 677px;
    z-index: 3;
}

.piedraDer3 {
    position: absolute;
    width: 66px;
    height: 56px;
    right: 176px;
    top: 628px;
    z-index: 1;
}

.piedraDer1 {
    position: absolute;
    width: 113px;
    height: 74px;
    right: 100px;
    top: 628px;
    z-index: 2;
}

.arbusto3der {
    position: absolute;
    width: 244px;
    height: 107px;
    right: -52px;
    top: 573px;
    z-index: 0;
}

.arbusto2der {
    position: absolute;
    width: 191px;
    height: 63px;
    right: 50px;
    top: 544px;
    z-index: -1;
}

.ini-centro {
    width: 33%;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.img-pj {
    width: 240px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: visible;
}

img.pj_uno {
    position: absolute;
    width: 240px;
    height: 314px;
    top: 70px;
    right: -68px;
    z-index: 2;
    rotate: -6deg;
}

img.pj_dos {
    position: absolute;
    top: -5px;
    left: -30px;
    width: 197px;
    height: 270px;
    rotate: -6deg;
    z-index: 1;
}

.img-pjtres {
    width: 240px;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

img.pj_tres {
    position: absolute;
    width: 215px;
    height: 379px;
    top: -68px;
    left: -73px;
    rotate: 8deg;
}

#pj-1 {}

.ini-der {
    width: 33%;
    height: 720px;
}

.ini-abajo {
    position: absolute;
    top: 346px;
    left: 27%;
    width: 600px;
    display: flex;
    flex-direction: row;

}

section.sec-app {
    width: 1280px;
    height: 994px;
    background: linear-gradient(180deg, #88DE7F 0%, #A8EBEC 46%);
    margin-top: -20px;
    color: #1B428F;
    clip-path: path("M0,0 L1280,0 L1280,794 C960,894 320,694 0,794 Z");
}

.titulo-app {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 95px;
    width: 508px;
    height: 132px;
}

.text-app {
    padding-top: 30px;

    padding-left: 95px;
    width: 704px;
    height: 154px;
}

.sec-app h1 {
    font-size: 47px;
    overflow-wrap: break-word;
}

.sec-app p {
    font-size: 20px;
}

.img-app {
    width: 576px;
    height: 324px;
    border-radius: 77px;
    border: #1B5F99 29px solid;
    position: absolute;
    left: 30.3%;
}