body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.header-fondo {
    position: absolute;
    top: 0px;
    height: 103px;
    width: 100vw;
    background: linear-gradient(180deg, #00D1D5 0%, rgba(0, 209, 213, 0.12) 87.91%, rgba(1, 208, 213, 0) 100%);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 4;
}

.fondo-secInicio {
    background-image: url(../assets/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: -2;
}

.fondo-secApp {
    width: 100vw;
    height: 1300px;
    background: linear-gradient(180deg, #88DE7F 0%, #A8EBEC 46%);
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    clip-path: path("M0,0 L1880,0 L1880,894 C960,994 320,794 0,894 Z");
}

svg.wave-svg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 283px;
    rotate: 180deg;
    transform: scaleX(-1);
}


header {
    height: 103px;
    width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: -8px;
}

.categoria {
    width: 100%;
    height: 46px;
    border-bottom: #656565;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
}

nav {
    background: linear-gradient(180deg, #88DE7F 0%, #A8EBEC 46%);
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 1px;
    top: 72px;
    transition: opacity;
    display: flex;
    flex-direction: column;

}

.visible {
    animation: nav-visible .5s ease both;
}

.categoria.ver-categoria {
    animation: ver-categoria 0.3s linear forwards;
}

@keyframes ver-categoria {
    from {
        opacity: .5;
        padding-right: 130px;
    }

    to {
        opacity: .9;
        padding-right: 0px;
        transform: translateX(0%);
    }

}

@keyframes nav-visible {
    0% {
        opacity: 0;
        width: 130px;
        height: 100vw;
    }

    100% {
        opacity: 1;
        width: 130px;
        height: 100vw;
        opacity: 90%;
    }
}

.menu {
    width: 200px;
    height: 40px;
    z-index: 3;
    animation: scroll-header auto linear;
    animation-timeline: scroll(root);
    animation-range: 200px;
}


.sacar-menu {
    display: none;
}

.bar {
    width: 34px;
    height: 4px;
    border: white solid 4px;
    border-radius: 111px;
    background-color: #F39E46;
    box-shadow: #02187E 4px 5px;
}


.menu.active #bar1 {
    animation: bar1-rotate 0.3s linear both;
    animation-direction: alternate;
}

@keyframes bar1-rotate {
    from {}

    to {
        transform: rotate(45deg) translate(7px, 7px);
        box-shadow: none;
    }

}

.menu.active #bar2 {
    animation: bar2-rotate .5s linear both;
    animation-direction: alternate;

}

@keyframes bar2-rotate {
    to {
        transform: rotate(45deg) translate(4px, -1.5px);
        box-shadow: none;
        border: none;
    }
}

.menu.active #bar3 {
    animation: bar3-rotate .6s linear both;
    animation-direction: alternate;
}

@keyframes bar3-rotate {
    to {
        transform: rotate(-45deg) translate(4px, -4px);
        box-shadow: none;
    }
}

.logo {
    width: 200px;
    height: 86px;
    display: flex;
    justify-content: center;
    animation: scroll-header auto linear;
    animation-timeline: scroll(root);
    animation-range: 200px;
}

.logo img {
    width: auto;
    height: auto;

    /* s */
}

@keyframes scroll-header {
    to {
        scale: 0.8;
    }

}

.btn-comprar {
    color: white;
    width: 200px;
    height: 50px;
    border: white 8px solid;
    border-radius: 111px;
    background-color: #83c252;
    font-family: "Lato", sans-serif;
    size: 20px;
    font-weight: 900;
    line-height: 18.9px;

    box-shadow: #02187E 4px 5px;
    animation: scroll-header auto linear;
    animation-timeline: scroll(root);
    animation-range: 200px;
    /* box-shadow: 8px #02187E; */
}


.text-categoria h2 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}




section.sec-inicio {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    position: relative;
    z-index: -2;
}

.ini-izq {
    width: 33%;
    height: 720px;
}

.arbusto4izq {
    width: 239px;
    height: 140px;
    position: absolute;
    top: 563px;
    z-index: 0;
    left: 124px;
}

.arIzq {
    width: 42%;
    position: absolute;
    left: -190px;
    z-index: 0;
    top: 10px;
}

.piedraizq {
    width: 113px;
    height: 74px;
    position: absolute;
    top: 645px;
    left: 93px;
}

.arbusto1izq {
    width: 155px;
    height: 102px;
    position: absolute;
    top: 664px;
    left: 117px;
}

.arDer2 {
    position: absolute;
    top: 84px;
    right: -132px;
    z-index: 1;
}

.arDer3 {
    position: absolute;
    top: 269px;
    right: -180px;
    z-index: 0;

}

@keyframes parallax-effect1 {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(-50%);
    }
}


.piedraDer4 {
    position: absolute;
    width: 59px;
    height: 35px;
    right: 83px;
    bottom: 30px;
    z-index: 3;
    animation: parallax-effect1 linear infinite;
    animation-timeline: scroll();
    animation-range: 300px;
}

.piedraDer3 {
    position: absolute;
    width: 66px;
    height: 56px;
    right: 86px;
    bottom: 56px;
    z-index: 1;
}

.piedraDer1 {
    position: absolute;
    width: 113px;
    height: 74px;
    right: 15px;
    bottom: 45px;
    z-index: 2;
}

.arbusto3der {
    position: absolute;
    width: 244px;
    height: 107px;
    right: -143px;
    bottom: 80px;
    z-index: 0;
}

.arbusto2der {
    position: absolute;
    width: 191px;
    height: 63px;
    bottom: 144px;
    right: -42px;
    z-index: -1;
}

.ini-centro {
    width: 33%;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.img-pj {
    width: 240px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: visible;
}

img.pj_uno {
    position: absolute;
    width: 240px;
    height: 314px;
    top: 70px;
    right: -68px;
    z-index: 2;
    rotate: -6deg;
}

img.pj_dos {
    position: absolute;
    top: -5px;
    left: -30px;
    width: 197px;
    height: 270px;
    rotate: -6deg;
    z-index: 1;
}

.img-pjtres {
    width: 240px;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

img.pj_tres {
    position: absolute;
    width: 215px;
    height: 379px;
    top: -68px;
    left: -73px;
    rotate: 8deg;
}



.ini-der {
    width: 33%;
    height: 720px;
}

.ini-abajo {
    position: absolute;
    top: 346px;
    left: 27%;
    width: 600px;
    display: flex;
    flex-direction: row;

}


section.sec-app {
    width: 1080px;
    height: 994px;
    color: #1B428F;
    margin-bottom: 220px;
    position: relative;
}

.titulo-app {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 95px;
    width: 508px;
    height: 132px;
}

.text-app {
    padding-top: 30px;
    padding-left: 95px;
    width: 680px;
    height: 154px;
}

.sec-app h1 {
    font-size: 47px;
    overflow-wrap: break-word;
}

.sec-app p {
    font-size: 20px;
}

.img-app {
    width: 576px;
    height: 324px;
    border-radius: 77px;
    border: #1B5F99 29px solid;
    position: absolute;
    left: 96px;
}

.img-app img {
    width: auto;
    height: 100%;
    border-radius: 47px;
}

.pj_cuatro {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 1443px;
    left: 75px;
}

.pj_cinco {
    height: 1200px;
    width: 550px;
    position: absolute;
    right: -170px;
    top: 845px;
    z-index: 2;
}

.cards-div {
    padding-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1080px;
    margin: 0;
}

.card {
    width: 330px;
    height: 100%;
    opacity: 0;
}

.card img {
    width: 330px;
    height: 300px;
    box-sizing: border-box;
    border: #2982FF 9px solid;
    border-radius: 41px;
    box-shadow: 4px 5px #02187E;
}

@keyframes reveal {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

#card-1 {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

#card-2 {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 70%;
}

#card-3 {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 75%;
}


.seccion-carga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    z-index: 9;
    background-color: #2982FF;
    transition: 0.2s;
}

.logo-carga {
    width: 50vw;
    height: 30vw;
}

.desaparecer {
    opacity: 0;
}

.ocultar {
    display: none;
}


.area-cargado {
    display: flex;
    width: 50vw;
    height: 10vw;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    gap: 1rem;
}

.area-cargado div {
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 5%;
    background-color: #88DE7F;

    /*Animaciones*/
    transform: scale(0);
    animation: cargar 3s ease-in-out infinite;
}


.area-cargado div:nth-child(1) {
    animation-delay: 0.2s;
}

.area-cargado div:nth-child(2) {
    animation-delay: 0.4s;
}

.area-cargado div:nth-child(3) {
    animation-delay: 0.6s;
}

.area-cargado div:nth-child(4) {
    animation-delay: 0.8s;
}

.area-cargado div:nth-child(5) {
    animation-delay: 1s;
}

.area-cargado div:nth-child(6) {
    animation-delay: 1.2s;
}

.area-cargado div:nth-child(7) {
    animation-delay: 1.4s;
}


@keyframes cargar {

    10%,
    80% {
        transform: scale(0.1);
        background-color: #F39E46;
    }

    40% {
        transform: scale(1);
        background-color: #88DE7F;
    }

}